
<script>{% getBundle "js", "inline" %}</script>
{# <!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-L2ZNZZ33XP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-L2ZNZZ33XP');
</script> #}

{%- js "inline" %} <!-- inlined for all pages -->
{% include "scripts/is-land.js" %}
{% include "scripts/theme-toggle.js" %}
{% endjs %}
